
* {
  box-sizing: border-box;
}

.bomb {
  background-image: url( "./../img/bomb.png" );
  background-size: cover;
  background-position: center;
  background-color: lightgray;
}

.revealed {
  background-color: #ff6ec7;
}

body {
  margin: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
}

.overlay {
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-image: url("../img/loseGame.png");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: 2;
}


.board-container {
  position: relative;
}
.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), 60px);
  grid-template-rows:repeat(var(--size), 60px);
  gap: 4px;
  background-color: #777777;
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #BBB;
  user-select: none;
}